config l2access 'main'
	option enabled '0'
	option mode 'server'
	# Leave iface empty to bind to all active interfaces dynamically (Single-TUN Multipath Protocol)
	option iface ''
	# You can optionally exclude specific physical or virtual interfaces
	list exclude_iface 'lo'
	option subnet '169.254.0.0/16'
